
.search-container {
  height: 25px;
  width: auto;
}

.search-input {
  margin-right: 15px;
  border-radius: 4px;
  outline: unset;
  padding: 5px;
}

.search-input:focus {
  border-bottom: 3px solid rgb(117, 200, 255);
  scale: 1.01;
}

.container-xxl {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap;
  margin: 0 auto !important;
  max-width: 1440px !important;
  padding: 0 !important;
}

.mor-btn-container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 15px;
}

.primary-btn {
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(235, 236, 234);
  border-radius: 8px;
  width: auto;
  font-size: 16px;
}

.primary-btn:hover {
 border: 1px solid rgb(170, 170, 170);
  background-color: chartreuse;
  border-radius: 8px;
  width: auto;
  font-size: 16px;
}