.card-section {
  height: 0;
}

.card {
  margin: 1rem;
  width: 280px;
  background: var(--card) !important;
  color: var(--text) !important;
}

h5,
h6 {
  color: var(--text);
}

.card-hover:hover {
  scale: 1.02;
  box-shadow: 0 0 20px 2px #7c7c7c, 0 0 15px 4px #ebecca, 0 0 15px 8px #455ca7,
    0 0 15px 8px #bb8fa6;
  transition: ease-in-out 100ms;
}

.card-id {
  padding: 15px;
  margin-bottom: 0;
  color: rgb(249, 248, 248);
}

.card-header {
  display: flex;
  justify-content: space-between;
  border: none !important;
}

.card-header img {
  width: auto !important;
}

.types-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.link-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding: 8px;
  border-bottom: 1px slategrey solid;
  border-top: 1px slategrey solid;
}

.link-content a {
  color: black;
}

.mb-3 {
  width: auto;
  margin-bottom: 1rem !important;
}

.card-body-content {
  color: black !important;
  padding: 16px;
  height: 280px;
}

.card-body {
  padding-top: 0 !important;
}

.progress {
  width: 100% !important;
  height: 16px !important;
  margin: 15px 0;
}

.card-details-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.types-text {
  display: block;
  width: 85px;
  text-align: center;
  border: 2px solid #ebecca;
  border-radius: 16px;
  margin: 8px;
}

.types-text:hover {
  cursor: pointer;
}

.type-img {
  width: 26px;
  height: 26px;
  filter: brightness(0) invert(1);
}

.type-btn {
  border: none;
  width: 52px;
  height: 52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 8px;
  flex-shrink: 0;
}

.detail-p-headlin {
  width: 100px;
}

ul {
  list-style: none;
  padding: 0 !important;
}

.progress-content {
  width: 46%;
}

.base-data {
  width: 160px;
  padding: 5px;
}

.card-stats-content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card-evo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1.1rem;
}

.card-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3px !important;
  background-color: lightgrey !important;
  border-bottom: 1px slategrey solid !important;
}

.card-footer-btn {
  border: none;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: gainsboro;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: large;
  padding: 0;
}


@media (max-width: 460px) {
  .card {
    width: 15rem !important;
  }

  .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    border: none !important;
  }

  .card-header img {
    width: 96px !important;
  }

  .link-content {
    justify-content: center;
    align-items: baseline;
    flex-direction: row;
    font-size: smaller;
    padding: 4px;
  }

  .mb-3 {
    margin-bottom: 0.5rem !important;
    margin: 0;
  }

  .base-data {
    width: 125px;
  }

  .card-evo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    font-size: 0.9rem;
  }
}