.type-grass {
  --type-color: rgba(124, 190, 179, 0.815);
}

.type-fire {
  --type-color: rgba(239, 131, 0, 0.815);
}

.type-water {
  --type-color: rgb(139, 172, 246);
}

.type-bug {
  --type-color: rgb(201, 201, 201);
}

.type-normal {
  --type-color: rgb(230, 180, 98);
}

.type-fairy {
  --type-color: rgb(255, 197, 180);
}

.type-poison {
  --type-color: rgb(189, 27, 238);
}

.type-electric {
  --type-color: rgb(246, 230, 82);
}

.type-ground {
  --type-color: rgb(197, 148, 57);
}

.type-fighting {
  --type-color: rgb(164, 180, 180);
}

.type-psychic {
  --type-color: rgb(96, 212, 212);
}

.type-rock {
  --type-color: rgb(115, 128, 128);
}

.type-ice {
  --type-color: rgb(151, 255, 255);
}

.type-dragon {
  --type-color: rgb(255, 180, 151);
}

.type-dark {
  --type-color: rgb(49, 65, 98);
}