:root{
      --primary-bg-color: rgb(56, 56, 92);
      --primary-pedding: 10px;  
      --primary-color-h1: rgb(172, 172, 172);
      
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}