:root{
  --pokedex-red-dark: #9b1622;   /* dunkelrot */
  --primary-color-h1: #F3F4F6;   
  --primary-padding: 10px;
}

.custom-tooltip {
  --bs-tooltip-bg: var(--bd-violet-bg);
  --bs-tooltip-color: var(--bs-white);
}